{% extends 'base.html' %}

{% block scripts %}
	<script>
		$(document).ready(function(){
			$('#nav-li-{{ sec_name }}').addClass('nav-selected');
		});
	</script>
{% endblock scripts %}

{% block mainnav %}
<ul>
	<li id="nav-li-tekmovanje"><a href="{% url 'struktura:tekmovanje' key %}">tekmovanje</a></li>
	<li id="nav-li-kategorija"><a href="{% url 'struktura:kategorija' key %}">kategorija</a></li>
	<li id="nav-li-dan"><a href="{% url 'struktura:dan' key %}">dan</a></li>
	<li id="nav-li-kt"><a href="{% url 'struktura:kt' key %}">kt</a></li>
	<li id="nav-li-ekipa"><a href="{% url 'struktura:ekipa' key %}">ekipa</a></li>
	<li id="nav-li-proga"><a href="{% url 'struktura:proga' key %}">proga</a></li>
	<li id="nav-li-kontrola"><a href="{% url 'struktura:kontrola' key %}">kontrola</a></li>
	<li id="nav-li-naloga"><a href="{% url 'struktura:naloga' key %}">naloga</a></li>
</ul>
{% endblock mainnav %}
