{% extends 'struktura/base.html' %}
{% load static %}

{% block title %}Volčjak struktura {{ plural_name }} {{ tekmovanje }} {% endblock %}

{% block content %}
	<h1>{{ display_name }}</h1>
	<form action="{% url 'struktura:'|add:sec_name|add:'_edit' key obj.pk %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		{% for butval in submit_buttons %}
		<input type="submit" value="{{ butval.val }}" name="{{ butval.name }}"/>
		{% endfor %}
	</form>
{% endblock content %}
