{% extends 'struktura/base.html' %}
{% load static %}

{% block scripts %}
	{{ block.super }}
	{% csrf_token %}
	<script>
		const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		$(document).ready(function(){
			$('button.delete-{{ sec_name }}').dblclick(function (){
				var button = this;
				var url = $(button).attr('href');
				$.ajax({
					url: url,
					type: 'POST',
					headers: { 'X-CSRFToken': csrftoken},
					success: function(data, textStatus, xhr){
						$(button).closest('li').remove();
						console.log("Deleted {{ sec_name }} successfully!");
					},
					error: function(xhr, textStatus, ErrorThrown){
						console.log(textStatus, ErrorThrown, xhr);
						var errorMessage = xhr.responseText;
						if(errorMessage.indexOf('<title>') != -1)
							errorMessage = errorMessage.substring(errorMessage.indexOf('<title>') + 7, errorMessage.indexOf('</title>'));
						alert("Unable to delete {{ sec_name }}: '" + errorMessage + "'");
					}
				});
			});
		});
	</script>
{% endblock scripts %}


{% block title %}Volčjak struktura {{ plural_name }} {{ tekmovanje }} {% endblock %}

{% block content %}
	<h1>{{ display_name }}</h1>
	<ul>
	{% for obj in objs %}
		<li>
			{{ obj }}
			<a href="{% url 'struktura:'|add:sec_name|add:'_edit' key obj.pk %}"><span class='ui-icon ui-icon-pencil'></span></a>
			<button href="{% url 'struktura:'|add:sec_name|add:'_rm' key obj.pk %}" class='ui-icon ui-icon-trash delete-{{ sec_name }}'>
		</li>
	{% endfor %}
	<li><a href="{% url 'struktura:'|add:sec_name|add:'_add' key %}"><span class='ui-icon ui-icon-plus'></span>dodaj {{ display_name }}</a></li>
	</ul>
{% endblock content %}
