{% extends 'struktura/base.html' %}
{% load static %}
{% load volcjak_tags %}

{% block scripts %}
	{{ block.super }}
	<script>
		var forms = {
		{% for nal_type, form in forms.items %}
			'{{ nal_type }}': `{{ form.as_p|safe }}`,
		{% endfor %}
		};
		var curr_nal_type = '{{ default_nal_type }}';
		$(document).ready(function(){
			$('#nal_type').change(function (){
				forms[curr_nal_type] = $('#form-body').html();
				curr_nal_type = this.value;
				$('#form-body').html(forms[curr_nal_type]);
			});
		});
	</script>
{% endblock scripts %}

{% block title %}Volčjak struktura {{ plural_name }} {{ tekmovanje }} {% endblock %}

{% block content %}
	<h1>{{ display_name }}</h1>
	<form action="{% url 'struktura:'|add:sec_name|add:'_add' key %}" method="post">
		{% csrf_token %}
		<p><label for="nal_type"></label><select name="nal_type" required id="nal_type">
		{% for nal_type in forms %}
			<option value="{{ nal_type }}" {% if nal_type == default_nal_type %}selected{% endif %}>{{ nal_type }}</option>
		{% endfor %}
		</select></p>
		<div id='form-body'>
		{% with form=forms|dict_lookup:default_nal_type %}
			{{ form.as_p }}
		{% endwith %}
		</div>
		{% for butval in submit_buttons %}
		<input type="submit" value="{{ butval.val }}" name="{{ butval.name }}"/>
		{% endfor %}
	</form>
{% endblock content %}
