{% extends 'base.html' %}
{% load static %}

{% block title %}Volčjak struktura rezultati {{ tekmovanje }} {% endblock %}

{% block content %}
	<h1>Urejanje rezultatov:</h1>
	<fieldset>
		<legend>KT: {{ kontrola.ime }} ||||| Ekipa: {{ ekipa }}</legend>
		<form action="{% url 'struktura:rezultat_edit' key ekipa.pk %}" method="post">
			{% csrf_token %}
			{{ base_form.as_p }}
			{% for naloga, formset in formsets %}
			{{ formset.management_form }}
			{{ formset.as_p }}
			{% endfor %}
			{% for butval in submit_buttons %}
			<input type="submit" value="{{ butval.val }}" name="{{ butval.name }}"/>
			{% endfor %}
		</form>
	</fieldset>
	<p>Tukaj spreminjaš rezultat za izbrano ekipo. Trenutno na žalost še ni podprta opcija, da bi urejal rezultate za več ekip hkrati (je pa to plan v prihodnosti).</p>
	<p>Del teh navodil je isti kot pri dodajanju rezultatov.</p>
	<p>Mrtvi čas vpišeš v prostor mrtvi čas, prostor čas je pa za čas prihoda ekipe na KT. Za vse časovne vrednosti je najbolje, če jih popraviš v formatu, v katerem ti jih volčjak ponudi.</p>
	<p>Morebitne druge naloge, ki jih ekipa opravlja na KT-ju naj bi bile intuitivne za rešit.</p>
	<p>Gumbi so poimenovani čim bolj opisno in počnejo, kar piše na njih. Prikažejo se samo smiselni (npr. ko dodajaš zadnjo ekipo ni več smiselno, da bi shranil in dodal nov rezultat, ker bodo po tej shranitvi vse ekipe te kategorije na tvojemu KT-ju že imele rezultat).</p>
	<p>Če ti pri shranjevanju volčjak javi napako, jo prosim poskusi razumeti. Če napake ne razumeš in ali misliš, da vse delaš prav, pa me le kontaktiraj (JS: 041 845 674 in <a href=mailto:jakob.schrader@guest.arnes.si">jakob.schrader@guest.arnes.si</a>).</p>
{% endblock content %}
