{% extends 'base.html' %}
{% load static %}

{% block title %}Volčjak struktura rezultati {{ tekmovanje }} {% endblock %}

{% block content %}
	<h1>Dodajanje rezultatov ({{ kontrola.ime}}):</h1>
	<fieldset>
		<legend>KT: {{ kontrola.ime }}</legend>
		<form action="{% url 'struktura:rezultat_add' key kategorija.pk %}" method="post">
			{% csrf_token %}
			{{ base_form.as_p }}
			{% for naloga, formset in formsets %}
			{{ formset.management_form }}
			{{ formset.as_p }}
			{% endfor %}
			{% for butval in submit_buttons %}
			<input type="submit" value="{{ butval.val }}" name="{{ butval.name }}"/>
			{% endfor %}
		</form>
	</fieldset>
	<p>Tukaj vneseš 'rezultat' za določeno ekipo. Kar shraniš lahko kasneje še spremeniš, tako da raje shranjuj bolj kot manj pogosto.</p>
	<p>Ekipe, ki jih lahko izbereš so tiste, ki ob času nalaganja te strani še niso imele vnesenega rezultata.</p>
	<p>Mrtvi čas vpišeš v prostor mrtvi čas, prostor čas je pa za čas prihoda ekipe na KT. Za vse časovne vrednosti je najbolje, če jih popraviš v formatu, v katerem ti jih volčjak ponudi.</p>
	<p>Morebitne druge naloge, ki jih ekipa opravlja na KT-ju naj bi bile intuitivne za rešit.</p>
	<p>Gumbi so poimenovani čim bolj opisno in počnejo, kar piše na njih. Prikažejo se samo smiselni (npr. ko dodajaš zadnjo ekipo ni več smiselno, da bi shranil in dodal nov rezultat, ker bodo po tej shranitvi vse ekipe te kategorije na tvojemu KT-ju že imele rezultat).</p>
	<p>Gumb prekliči trenutno dela samo, ko si že izbral_a ekipo (v tem primeru je vseeno, katero izbereš). Je pa prekliči v bistvu samo povezava nazaj na osnovno stran.</p>
	<p>Če ti pri shranjevanju volčjak javi napako, jo prosim poskusi razumeti. Če napake ne razumeš in ali misliš, da vse delaš prav, pa me le kontaktiraj (JS: 041 845 674 in <a href=mailto:jakob.schrader@guest.arnes.si">jakob.schrader@guest.arnes.si</a>).</p>
{% endblock content %}
