{% extends 'base.html' %}
{% load static %}

{% block scripts %}
	{% csrf_token %}
	<script>
		const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		$(document).ready(function(){
			$("#tabs").tabs();
			$('button.delete-rezultat').dblclick(function (){
				var button = this;
				var url = $(button).attr('href');
				$.ajax({
					url: url,
					type: 'POST',
					headers: { 'X-CSRFToken': csrftoken},
					success: function(data, textStatus, xhr){
						$(button).closest('li').remove();
						console.log("Deleted rezultats successfully!");
					},
					error: function(xhr, textStatus, ErrorThrown){
						console.log(textStatus, ErrorThrown, xhr);
						var errorMessage = xhr.responseText;
						if(errorMessage.indexOf('<title>') != -1)
							errorMessage = errorMessage.substring(errorMessage.indexOf('<title>') + 7, errorMessage.indexOf('</title>'));
						alert("Unable to delete rezultats: '" + errorMessage + "'");
					}
				});
			});
		});
	</script>
{% endblock scripts %}


{% block title %}Volčjak struktura {{ kt }} {% endblock %}

{% block content %}
	<h1>{{ kt }} {{ kontrola.ime }}</h1>
	<div id="tabs">
		<ul>
		{% for kategorija, _, _ in kategorijas %}
			<li><a href="#tabs-{{ kategorija.pk }}">{{ kategorija.ime }}</a></li>
		{% endfor %}
		</ul>
		{% for kategorija, ekipas, all_added in kategorijas %}
		<div id="tabs-{{ kategorija.pk }}">
			<ul>
			{% for ekipa in ekipas %}
				<li><a href="{% url 'struktura:rezultat_edit' key ekipa.pk %}">{{ ekipa }}</a> <button href="{% url 'struktura:rezultat_rm' key ekipa.pk %}" class='ui-icon ui-icon-trash delete-rezultat'></li>
			{% endfor %}
			{% if not all_added %}
				<li><a href="{% url 'struktura:rezultat_add' key kategorija.pk %}"><span class='ui-icon ui-icon-plus'></span>Dodaj rezultat</a></li>
			</ul>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<p><b>Navodila za uporabo:</b></p>
	<p>Tukaj so navodila za uporabo. Ce se kej zatakne, sem (JS) dosegljiv na 041 845 674 in <a href=mailto:jakob.schrader@guest.arnes.si">jakob.schrader@guest.arnes.si</a></p>
	<p>V različnih zavihkih so zbrane ekipe različnih kategorij. Med zavihki menjavaš tko, da klikneš tistega, ki te zanima.</p>
	<p>Dodaj rezultat je link, ki te popelje na stran, kjer vneseš rezultate ekipe. Ta link naj bi bil viden za vsako kategorijo dokler nisi za vse ekipe te kategorije vnesel rezultatov.</p>
	<p>Ko neki ekipi dodaš rezultat, se na tej osnovni strani pojavi v neoštevilčenem seznamu. Če hočeš kasneje spremenit kaj od tega, kar si vnesel, klikneš na link. Tako lahko npr. ko ekipa pride na KT vneseš da so prišli in šele kasneje njihove točke po opravljanju nalog(e).</p>
	<p>Za vsakim linkom za ekipo je ikonca smetnjaka. Ta pobriše dodane rezultate za ekipo. Da na smetnjak ne pritisneš po nesreči, je nastavljeno, da moraš nanj izvest dvojni klik (doubleclick).</p>
	<p>Ko si za vse ekipe dodal rezultate in eno izbrišeš, se povezava 'Dodaj rezultat' ne vrne. V tem primeru samo na novo naloži stran.</p>
	<p>In ja, navodila so na dnu. Ko imaš vnesenih malo ekip, naj bi bila dovolj očitna, kasneje pa te ne bodo silili k neskončnem scrollanju.</p>

	<p>Enkrat ko imate čas, dajte prosim rešit še tole kratko <a href="https://docs.google.com/forms/d/e/1FAIpQLSc4W3hwB4vEVG3T9pJV3sYnxOQHEwzkrPCKyvQqQGSnZaipEA/viewform">anketo</a> (majkemi, da je kratka, ma 4 vprašanja, od tega je eno obvezno). Hvala :)</p>
{% endblock content %}
