{% extends 'struktura/base.html' %}
{% load static %}

{% block title %}Volčjak struktura tekmovanje {{ tekmovanje }} {% endblock %}

{% block content %}
	<h1>Tekmovanje</h1>
	<form action="{% url 'struktura:tekmovanje' key %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="shrani"/>
	</form>
{% endblock content %}
