:root{
	--color-dark: #05069f;
	--color-normal: #0000ff;
	--color-bright: #3055ff;
	--color-text: #ffffff;
	--color-visited-link: #fe9e5a;
	--color-link: #beff39;
	--color-active-link: #e7700f;
	--color-read: #00e62d;
	--color-unread: #ff8442;
}
