:root{
	--color-darkest: #000000;
	--color-dark: #472c41;	/* temna vijolicna	*/
	--color-normal: #876066;	/*	normalna vijolicna	*/
	--color-bright: #a37371;	/*	svetla vijolicna	*/
	--color-read: #deb9a8;	/*	roza	*/
	--color-unread: #f0b868;	/*	oranzna	*/
	--color-brightest: #ffffff;
}
