#site-wrapper {
	display: grid;
	grid-template-columns: 150px auto auto 3fr 1fr;
	grid-template-rows: minmax(100px, auto) auto auto auto;
}

#title, #content, #wisdom-cookie, #credits, #links {
	margin: 5px;
}

#logo {
	grid-row: 1;
	grid-column: 1 / 5;
	padding: 1em 50%;
	background-color: var(--color-bright);
}

#title {
	text-align: center;
	grid-row: 1;
	grid-column: 1 / span 2;
}

#navigation {
	margin: 15px;
	padding-right: 15px;
	grid-row: 2;
	grid-column: 2 / span 3;

	column-width: 6rem;
	column-count: auto;
}

#navigation ul {
}

#navigation li {
	margin: 0.5em;
}

#content {
	grid-row: 3;
	grid-column: 2 / span 3;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
}

#wisdom-cookie {
	grid-row: 1;
	grid-column: 5;
	text-align: left;
}

#credits {
	grid-row: 4;
	grid-column: 2 / span 2;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

#links {
	grid-row: 4;
	grid-column: 4;
	padding-left: 15px;
	padding-right: 15px;
}
