#site-wrapper {
	display: flex;
	flex-direction: column;
}

#logo, #title, #navigation, #content, #wisdom-cookie, #credits, #links {
	margin: 5px;
}

#logo, #title, #content, #wisdom-cookie, #credits, #links {
	padding: 10px;
}

#navigation {
	column-count: 2;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	text-align: center;
	margin-top: 0px;
}

#navigation li {
	margin: 0.7em;
}

#content {
	justify-content: center;
}

#wisdom-cookie {
	text-align: center;
}

#credits {
	text-align: left;
}

#links {
	text-align: left;
}
