@import "default_colors.css";

@import "mobile.css" screen and (max-width: 700px);
@import "desktop.css" screen and (min-width: 701px);

@font-face {
	font-family: "BenchNine";
	src: url("/static/fonts/BenchNine-Regular.ttf"),
		 url("/static/fonts/BenchNine-Bold.ttf"),
		 url("/static/fonts/BenchNine-Light.ttf");
}

body {
	background-color: var(--color-brightest);
	font-family: "BenchNine";
}

div {
	border-radius: 5px;
}

table {
	overflow-y: scroll;
	display: block;
}

/*
 * COLORS:
 */
#navigation, #credits, #links {
	background-color: var(--color-normal);
	color: var(--color-dark);
}

#title, #wisdom-cookie {
	background-color: var(--color-bright);
	color: var(--color-dark);
}

#content {
	background-color: var(--color-dark);
	color: var(--color-brightest);
}

.nav-selected {
	background-color: var(--color-dark);
	border-radius: 3px;
}

#navigation li{
	white-space: nowrap;
}

#title {
}

#wisdom-cookie {
}

#credits {
}

#links {
}

a:link {
	color: var(--color-unread);
}

a:visited {
	color: var(--color-read);
}

a.plain {
	text-decoration: none;
	color: var(--color-brightest);
}


#content th, #content td {
	border-color: var(--color-bright);
}

#content th {
	border: 1px;
	border-bottom: 3px;
}

#content td {
	border: 1px;
}

tr:nth-child(even) {
	background-color: var(--color-normal);
}

tr:nth-child(odd) {
	background-color: var(--color-bright);
}

.disqualified {
	text-decoration: line-through;
}


/*
 * jQuery colors
 */
.ui-widget-header .ui-state-default, .ui-accordion .ui-accordion-header-collapsed {
	background-color: var(--color-normal);
	color: var(--color-brightest);
}

.ui-widget-header .ui-state-active, .ui-accordion .ui-accordion-header-active {
	background-color: var(--color-dark);
	border-color: var(--color-bright);
}

.ui-widget-content {
	background-color: var(--color-dark);
	color: var(--color-brightest);
}

.ui-widget-header {
	background-color: var(--color-bright);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-default a, .ui-state-default a:link {
	color: var(--color-brightest);
}

.unread, .ui-accordion .unread {
	font-weight: bold;
	color: var(--color-unread);
}

.read, .ui-accordion .read {
	font-weight: lighter;
	color: var(--color-read);
}

img.qr-code {
	background-color: #ffffff;
	border-radius: 5px;
}
