{% extends 'base.html' %}

{% block mainnav %}
<ul>
	<li id="nav-li-admin_index"><a href="{% url 'admin:index' %}">admin</a></li>
	<li id="nav-li-struktura"><a href="{% url 'struktura:tekmovanje' key %}">struktura</a></li>
	<li id="nav-li-index"><a href="{% url 'pregled:index' key %}">pregled</a></li>
	<li id="nav-li-import_export"><a href="{% url 'pregled:import_export' key %}">import/export</a></li>
	{% comment %}
	<li id="nav-li-obvestila"><a href="{% url 'pregled:obvestila' key %}">obvestila</a></li>
	<li id="nav-li-info"><a href="{% url 'pregled:info_index' key %}">info</a></li>
	{% endcomment %}
	<li id="nav-li-kontrole"><a href="{% url 'pregled:kontrole' key %}">kontrole</a></li>
	<li id="nav-li-proge"><a href="{% url 'pregled:proge' key %}">proge</a></li>
	{% comment %}
	<li id="nav-li-ekipe"><a href="{% url 'pregled:ekipe' key %}">ekipe</a></li>
	{% endcomment %}
	<li id="nav-li-rezultati"><a href="{% url 'pregled:rezultati' key %}">rezultati</a></li>
	<li id="nav-li-qr_kontrole"><a href="{% url 'pregled:qr_kontrole' key %}">QR kontrole</a></li>
	{% comment %}
	<li id="nav-li-qr_ekipe"><a href="{% url 'pregled:qr_ekipe' key %}">QR ekipe</a></li>
	{% endcomment %}
</ul>
{% endblock mainnav %}
