{% extends 'base.html' %}

{% block mainnav %}
<ul>
	<li id="nav-li-index"><a href="{% url 'pregled:ekipa_index' key %}">pregled</a></li>
	{% if ekipa.st_neprebranih_obvestil == 0 %}
	<li id="nav-li-obvestila" class="read">(0/{{ tekmovanje.st_vidnih_obvestil }}) <a href="{% url 'pregled:ekipa_obvestila' key %}">obvestila</a></li>
	{% else %}
	<li id="nav-li-obvestila" class="unread">(<span id="neprebrani_counter">{{ ekipa.st_neprebranih_obvestil}}</span>/{{tekmovanje.st_vidnih_obvestil}}) <a class="unread" href="{% url 'pregled:ekipa_obvestila' key %}">obvestila</a></li>
	{% endif %}
	<li id="nav-li-info"><a href="{% url 'pregled:ekipa_info' key %}">informacije</a></li>
</ul>
{% endblock mainnav %}
