{% extends 'pregled/base_ekipa_pregled.html' %}
{% load qr_code %}
{% load volcjak_tags %}

{% block title %}Volčjak pregled {{ ekipa }} {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-index').addClass('nav-selected');
		}
	);
</script>
{% endblock scripts %}

{% block content %}
<h1> Pregled tekmovanja {{ ekipa }} </h1>
<p>Tuki mas center za pregled nad tekmovanjem.</p>
<p>QR koda ma link za to stran, lahko jo deliš z ostalimi člani ekipe, drugim pa je ne preveč kazat.</p>
<img class="qr-code" src="{% qr_url_from_text key|reverse_f:"pregled:ekipa_index"|full_url:request %}" alt="{{ key|reverse_f:"pregled:ekipa_index"|full_url:request }}">
{% endblock content %}
