{% extends 'pregled/base_ekipa_pregled.html' %}
{% load volcjak_tags %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-info').addClass('nav-selected');
		}
	);
</script>
{% endblock scripts %}

{% block title %}Volčjak pregled informacije {{ ekipa }} {% endblock %}

{% block content %}
<h1>Informacije:</h1>
{% for ime in info_imena %}
<p>{{ ime }}: {{ ekipa.info|dict_lookup:ime }}</p>
{% endfor %}
{% endblock content %}
