{% extends 'pregled/base_ekipa_pregled.html' %}
{% load pregled_obvestilo %}

{% block scripts %}
{% csrf_token %}
<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
	$(document).ready(function(){
			$('#nav-li-obvestila').addClass('nav-selected');
			$('#accordion').accordion({
				collapsible: true,
				active: false,
				activate: function(event, ui){
					if(ui.newHeader.hasClass("unread")){
						$.ajax({
							url: ui.newHeader.attr("href"),
							type: 'POST',
							headers: { 'X-CSRFToken': csrftoken},
							success: function(data, textStatus, xhr){
								ui.newHeader.removeAttr("href");
								ui.newHeader.removeClass("unread");
								ui.newHeader.addClass("read");
								var counter = $("#neprebrani_counter");
								counter.text(counter.text()-1);
								if(counter.text() == "0"){
									var li = counter.closest("li");
									li.addClass("read");
									li.removeClass("unread");
								}
							},
							error: function(xhr, textStatus, ErrorThrown){
								console.log(xhr.responseText);
								var errorMessage = xhr.responseText;
								errorMessage = errorMessage.substring(errorMessage.indexOf('<title>') + 7, errorMessage.indexOf('</title>'));
								alert('Unable to delete item: ' + errorMessage);
							}
						});
					}
				}
			});
		}
	);
</script>
{% endblock scripts %}

{% block title %}Volčjak pregled obvestila {{ ekipa }} {% endblock %}

{% block content %}
<h1>Obvestila</h1>
<div id="accordion">
	{% for obvestilo in obvestila %}
	{% if obvestilo|read:ekipa.id %}
	<h3 class="read">{{ obvestilo }}</h3>
	{% else %}
	<h3 class="unread" href="{% url 'pregled:mark_read' ekipa.id obvestilo.id %}">{{ obvestilo }}</h3>
	{% endif %}
	<div>{{ obvestilo.besedilo }}</div>
	{% endfor %}
</div>
{% endblock content %}
