{% extends 'pregled/base_pregled.html' %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-ekipe').addClass('nav-selected');
			$("#tabs").tabs();
		}
	);
</script>
{% endblock scripts %}

{% block title %}Volčjak pregled ekipe {{ tekmovanje }} {% endblock %}

{% block content %}
<h1>Ekipe</h1>
<p>Tole so linki, ki jih dobi vsaka ekipa in prek katerih lahko dobivajo obvestila</p>
<div id="tabs">
	<ul>
		{% for kategorija in kategorije %}
		<li><a href="#tabs-{{ kategorija.pk }}">{{ kategorija.ime }}</a></li>
		{% endfor %}
	</ul>
	{% for kategorija in kategorije %}
	<div id="tabs-{{ kategorija.pk }}">
		<ul>
			{% for ekipa in kategorija.ekipa_set.all %}
			<li><a href="{% url 'pregled:ekipa_index' ekipa.pk %}">{{ ekipa.short_name }}</a> ({{ ekipa.kontakt }})</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
{% endblock content %}
