{% extends 'pregled/base_pregled.html' %}

{% block title %}Volčjak pregled import/export {{ tekmovanje }} {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-import_export').addClass('nav-selected');
		}
	);
</script>
{% endblock scripts %}

{% block content %}
<h1> Import/export tekmovanje {{ tekmovanje }} </h1>
<p>Importiraj tekmovanje:</p>
<form enctype="multipart/form-data" action="{% url 'pregled:upload' key %}" method="post">
	{% csrf_token %}
	{{ upload_form.as_p }}
	<input type="submit" value="požen"/>
</form>
<br>
<p>Tuki lahko downloadas tekmovanje in ga drgje importas:</p>
<p>Ker so hierarhično nižje tabele odvisne od hierarhično višjih, lahko med sabo
vplivajo. To pomeni, da če npr. izklopiš kontrolo, ne moreš dobiti nalog,
dogodkov, in rezultatov.</p>
<p>Pretty pomeni, da se bo zgeneriran json file lepo izpisal in bo zamaknjen s
tabulatorji ('\t'). Uporabno, če boš ta json sam gledal in/ali ga na roko
spreminjal, drugače pa samo porabi nekaj več prostora.</p>
<form action="{% url 'pregled:download' key %}" method="get">
	{{ download_form.as_p }}
	<input type="submit" value="gib"/>
</form>
{% endblock content %}
