{% extends 'pregled/base_pregled.html' %}

{% block title %}Volčjak pregled {{ tekmovanje }} {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-index').addClass('nav-selected');
		}
	);
</script>
{% endblock scripts %}

{% block content %}
<h1> Pregled tekmovanja {{ tekmovanje }} </h1>
<p>Tuki mas center za pregled nad celim tekmovanjem:</p>
<h3>Razlaga menija:</h3>
<ul>
	<li>admin - povezava do django admina,</li>
	<li>struktura - povezava do strani, na kateri urejaš tekmovanje (katere kategorije obstajajo, katere naloge se opravljajo itd.),</li>
	<li>pregled - ta stran,</li>
	<li>import/export - tukaj lahko dobiš json datoteko svojega tekmovanja, ali pa svojemu tekmovanju dodaš ali zamenjaš strukturo s strukturo tekmovanja, katerega json imaš,</li>
	{% comment %}
	<li>obvestila - obvestila za tekmovalce, ki jih tukaj urejas, dodajas in brises,</li>
	{% endcomment %}
	<li>kontrole - linki do strani za kontrolorje (ki jih oni dobijo za vnasat rezultate),</li>
	<li>proge - tabele za vse proge, ki ti povejo kdaj je kjera ekipa bla na katerem KT-ju (ce je ze bla),</li>
	{% comment %}
	<li>ekipe - linki za ekipe (ki jih one lahko dobijo za pregled nad stvarmi, ki jih smejo vidt)</li>
	{% endcomment %}
	<li>rezultati - trenutni rezultati tekmovanja tako kot so zracunani.</li>
</ul>
{% endblock content %}
