{% extends 'base.html' %}
{% load volcjak_tags %}

{% block title %}Volčjak pregled informacij{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$("#tabs").tabs();
		}
	);
</script>
{% endblock scripts %}

{% block mainnav %}
<ul>
	{% for ime in info_imena %}
	{% if ime == cime %}
	<li class='nav-selected'><a href="{% url 'pregled:info_view' key ime%}">{{ ime }}</a></li>
	{% else %}
	<li><a href="{% url 'pregled:info_view' key ime%}">{{ ime }}</a></li>
	{% endif %}
	{% endfor %}
</ul>
{% endblock mainnav %}

{% block content %}
<div id="tabs">
	<ul>
		{% for value in values.keys %}
		<li><a href="#tabs-{{ forloop.counter }}">{{ value }}</a></li>
		{% endfor %}
	</ul>
	{% for value in values.keys %}
	<div id="tabs-{{ forloop.counter }}">
		<ul>
			{% for ekipa in values|dict_lookup:value %}
			<li>{{ ekipa.short_name }} ({{ ekipa.kontakt }})</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
{% endblock content %}
