{% extends 'pregled/base_pregled.html' %}
{% load volcjak_tags %}

{% block title %}Volčjak info ekipe {{ ekipa.short_name }} {% endblock %}

{% block content %}
<h1>Informacije ekipe {{ ekipa.short_name }}</h1>
<form action="{% url 'pregled:info_ekipa' key ekipa.pk %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="shrani"/>
</form>
{% endblock content %}
