{% extends 'pregled/base_pregled.html' %}
{% load volcjak_tags %}
{% load qr_code %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-info').addClass('nav-selected');
			$("#tabs").tabs();
		}
	);
</script>
{% endblock scripts %}

{% block title %}Volčjak info ekip {{ tekmovanje }} {% endblock %}

{% block content %}
<h1>Informacije</h1>
<p>Informacije vezane na vsako ekipo posebej.</p>
<p>Imena ekip so linkani na njihove informacije, imena stolpcev pa na pregled stvari</p>
<div id="tabs">
	<ul>
		{% for kategorija in kategorije %}
		<li><a href="#tabs-{{ kategorija.pk }}">{{ kategorija.ime }}</a></li>
		{% endfor %}
	</ul>
	{% for kategorija in kategorije %}
	<div id="tabs-{{ kategorija.pk }}">
		<table>
			<tr>
				<th>ekipa</th>
				{% for ime in info_imena %}
				<th><a href="{% url 'pregled:info_view' key ime %}">{{ ime }}</a></th>
				{% endfor %}
			</tr>
			{% for ekipa in kategorija.ekipa_set.all %}
			<tr>
				<td><a href="{% url 'pregled:info_ekipa' key ekipa.pk %}">{{ ekipa.short_name }}</a></td>
				{% for ime in info_imena %}
				<td>{{ ekipa.info|dict_lookup:ime }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endfor %}
</div>
<img class="qr-code" src="{% qr_url_from_text key|reverse_f:"pregled:info_view"|full_url:request %}" alt="{{ key|reverse_f:"pregled:info_view"|full_url:request }}">
{% endblock content %}
