{% extends 'pregled/base_pregled.html' %}

{% block title %}Volčjak pregled kontrole{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-kontrole').addClass('nav-selected');
		}
	);
</script>
{% endblock scripts %}

{% block content %}
<h1>Linki za kontrolorje</h1>
<ul>
	{% for kontrola in kontrole %}
	<li><a href="{% url 'struktura:rezultat' kontrola.kt.pk %}#tabs-{{ kontrola.kategorija.pk }}">{{ kontrola }}</a> ({{ kontrola.kt.kontakt}})</li>
	{% endfor %}
</ul>
{% endblock content %}
