{% extends 'pregled/base_pregled.html' %}

{% block scripts %}
{% endblock scripts %}

{% block title %}Volčjak pregled obvestila {{ tekmovanje }} {% endblock %}

{% block content %}
<h1>Novo obvestilo tekmovanja {{ tekmovanje }}</h1>
<form action="{% url 'pregled:novo_obvestilo' key %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="shrani"/>
</form>
{% endblock content %}
