{% extends 'pregled/base_pregled.html' %}
{% load pregled_obvestilo %}

{% block scripts %}
{% endblock scripts %}

{% block title %}Volčjak pregled obvestila {{ tekmovanje }} {% endblock %}

{% block content %}
<h1>Obvestilo {{ obvestilo }} tekmovanja {{ tekmovanje }}</h1>
<form action="{% url 'pregled:obvestilo' key obvestilo.pk %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="shrani"/>
</form>
{% if obvestilo.st_ekip != 0 %}
<h3>To obvestilo so videle ekipe:</h3>
<ul>
	{% for ekipa in obvestilo.ekipe.all %}
	<li>{{ ekipa.short_name }} ({{ ekipa.kontakt }})</li>
	{% endfor %}
</ul>
{% endif %}
{% if tekmovanje.st_ekip != obvestilo.st_ekip %}
<h3>Tega obvestila se niso videle ekipe:</h3>
<ul>
	{% for ekipa in tekmovanje.ekipe|izloci:obvestilo.ekipe.all %}
	<li>{{ ekipa.short_name }} ({{ ekipa.kontakt }})</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock content %}
