{% extends 'pregled/base_pregled.html' %}

{% block scripts %}
{% csrf_token %}
<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
	$(document).ready(function(){
			$('#nav-li-obvestila').addClass('nav-selected');
			$('button.delete-obvestilo').dblclick(function (){
					var button = this;
					var url = $(button).attr('href');
					$.ajax({
						url: url,
						type: 'POST',
						headers: { 'X-CSRFToken': csrftoken},
						success: function(data, textStatus, xhr){
							$(button).closest('li').remove();
							console.log('Deleted obvestilo successfully!');
						},
						error: function(xhr, textStatus, ErrorThrown){
							console.log(xhr.responseText);
							var errorMessage = xhr.responseText;
							errorMessage = errorMessage.substring(errorMessage.indexOf('<title>') + 7, errorMessage.indexOf('</title>'));
							alert('Unable to delete item: ' + errorMessage);
						}
					});
				}
			);
		}
	);
</script>
{% endblock scripts %}

{% block title %}Volčjak pregled obvestila {{ tekmovanje }} {% endblock %}
{% block btitle %}Volčjak pregled obvestila {{ tekmovanje }} {% endblock %}

{% block content %}
<h1>Obvestila</h1>
<p>Obvestila so nacin komunikacije z ekipami. Objavljena obvestila so ekipam vidna, neobjavljena pa ne.</p>
<p>Za urejanje pritisni na link, za brisanje je dvojni klik na smetnjak, za dodajanje novega obvestila pa najvišja povezava</p>
<h2>Obvestila tekmovanja {{ tekmovanje }}</h2>
<a href="{% url 'pregled:novo_obvestilo' key %}">+ novo obvestilo</a>
<ul>
	{% for obvestilo in obvestila %}
	<li>
		<button style="display: inline;" class="delete-obvestilo" title="Delete" href="{% url 'pregled:del_obvestilo' key obvestilo.pk %}">
			<span class="ui-icon ui-icon-trash"></span>
		</button>
		{% if obvestilo.st_ekip != tekmovanje.st_ekip %}
		<span class="unread">({{ obvestilo.st_ekip }}/{{ tekmovanje.st_ekip }})</span>
		{% else %}
		<span class="read">({{ obvestilo.st_ekip }}/{{ tekmovanje.st_ekip }})</span>
		{% endif %}
		<a href="{% url 'pregled:obvestilo' key obvestilo.pk %}">{{ obvestilo }}</a>
	</li>
	{% endfor %}
</ul>
{% endblock content %}
