{% extends 'pregled/base_pregled.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/simple_table.js' %}"></script>
<script>

	function update(tekmovanje){
		for(var tab of Object.values(tekmovanje['tabs'])){
			var div = $("#tabs-" + tab.pk);
			make_table(div, tab);
		}
	}

	function refresh(){
		$.get("{% url 'struktura:pregled_ekipe' key %}", update);
	}

	$(document).ready(function(){
			$('#nav-li-proge').addClass('nav-selected');
			$("#tabs").tabs();
			$("#refresh_button").click(refresh);
			refresh();
		}
	);

</script>
{% endblock scripts %}

{% block title %}Volčjak pregled proge {{ tekmovanje }} {% endblock %}

{% block content %}
<h1>Proge</h1>
<button id='refresh_button'>Osveži</button>
<div id="tabs">
	<ul>
		{% for proga in proge %}
		<li><a href="#tabs-{{ proga.pk }}">{{ proga.kategorija.ime }} proga {{ proga.start.dan.st }}</a></li>
		{% endfor %}
	</ul>
	{% for proga in proge %}
	<div id="tabs-{{ proga.pk }}">
	</div>
	{% endfor %}
</div>
{% endblock content %}
