{% extends 'pregled/base_pregled.html' %}
{% load qr_code %}
{% load volcjak_tags %}

{% block title %}Volčjak qr seznam za {{ title_name }}{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
			$('#nav-li-qr_{{ title_name }}').addClass('nav-selected');
		}
	);
</script>
{% endblock scripts %}

{% block content %}
<h1>Volčjak qr seznam za {{ title_name }}</h1>
{% for element in elementi %}
<div class="qr-code-holder">
	<img class="qr-code" src="{% qr_url_from_text element.pk|reverse_f:view_name|full_url:request %}" alt="{{ element.pk|reverse_f:view_name|full_url:request }}">
	<span class="qr-code-title"><a href="{% url view_name element.pk %}">{{ element }}</a></span>
</div>
{% empty %}
<p>Očitno ni blo nobenih elementov. :(</p>
{% endfor %}
{% endblock content %}
