{% extends 'pregled/base_pregled.html' %}
{% load static %}
{% load qr_code %}
{% load volcjak_tags %}

{% block scripts %}
<script src="{% static 'js/simple_table.js' %}"></script>
<script>

	function update(tekmovanje){
		for(var tab of Object.values(tekmovanje['tabs'])){
			var div = $("#tabs-" + tab.pk);
			make_table(div, tab);
		}
	}

	function refresh(){
		$.get("{% url 'struktura:rezultati' key %}", update);
	}

	$(document).ready(function(){
			$('#nav-li-rezultati').addClass('nav-selected');
			$("#tabs").tabs();
			$("#refresh_button").click(refresh);
			refresh();
		}
	);

</script>
{% endblock scripts %}

{% block title %}Volčjak pregled rezultati {{ tekmovanje }} {% endblock %}

{% block content %}
<h1>Rezultati</h1>
<button id='refresh_button'>Osveži</button>
<div id="tabs">
	<ul>
		{% for kategorija in kategorije %}
		<li><a href="#tabs-{{ kategorija.pk }}">{{ kategorija.ime }}</a></li>
		{% endfor %}
	</ul>
	{% for kategorija in kategorije %}
	<div id="tabs-{{ kategorija.pk }}">
	</div>
	{% endfor %}
</div>
<div class="qr-code-holder">
	<img class="qr-code" src="{% qr_url_from_text key|reverse_f:'pregled:rezultati_v'|full_url:request %}" alt="{{ key|reverse_f:'pregled:rezultati_v'|full_url:request }}">
	<span class="qr-code-title"><a href="{% url 'pregled:rezultati_v' key %}">Read only rezultati link</a></span>
</div>
{% endblock content %}
