{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/simple_table.js' %}"></script>
<script>

	function update(tekmovanje){
		for(var tab of Object.values(tekmovanje['tabs'])){
			var div = $("#tabs-" + tab.pk);
			make_table(div, tab);
		}
	}

	function refresh(){
		$.get("{% url 'struktura:rezultati' key %}", function(r){
				update(r);
			}
		);
	}

	$(document).ready(function(){
			$('#nav-li-rezultati').addClass('nav-selected');
			$("#tabs").tabs();
			$("#refresh_button").click(function(){
					refresh();
				}
			);
			refresh();
		}
	);

</script>
{% endblock scripts %}

{% block title %}Volčjak pregled rezultati {{ tekmovanje }} {% endblock %}

{% block content %}
	<h1>Rezultati {{ tekmovanjej }}:</h1>
	<button id='refresh_button'>Osveži</button> <br>
	<p>Če je ekipa prečrtana, to pomeni, da je tekmovala izven konkurence. Te ekipe se tudi razvrstijo glede na skupno število točk, so pa ignorirani pri računanju mest.</p>
	<p>Ekipa 'MAX' je samo za to, da lahko vidiš, koliko točk je pri določeni panogi možnih. Zato se tudi ne šteje pri oštevilčenju mest.</p>
<div id="tabs">
	<ul>
		{% for kategorija in kategorije %}
		<li><a href="#tabs-{{ kategorija.pk }}">{{ kategorija.ime }}</a></li>
		{% endfor %}
	</ul>
	{% for kategorija in kategorije %}
	<div id="tabs-{{ kategorija.pk }}">
	</div>
	{% endfor %}
</div>
{% endblock content %}
