{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{% static 'img/cist_transparent_ozadje.png' %}">
		<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
		{% block links %}
		{% endblock links %}
		<script src="{% static 'js/jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
		{% block scripts %}
		{% endblock scripts %}
		<title>
			{% block title %}Volčjak{% endblock %}
		</title>
	</head>
	<body>

		<div id="site-wrapper">

			<div id="logo">
				<img src="{% static 'img/RSV_logo_bela.svg' %}" alt="">
			</div> <!-- #logo -->

			<div id="title">
				Volčjak
			</div> <!-- #title -->

			<div id="navigation">
				{% block mainnav %}
				<ul>
					<li><a href="{% url 'admin:index' %}">admin</a></li>
				</ul>
				{% endblock mainnav %}
			</div> <!-- #navigation -->

			<div id="content">
				{% block content %}
				<p>
					Kar vidiš je Volčjak. To je mašina za računanje rezultatov
					taborniških tekmovanje. Za vprašanja se obrni na
					<a href="mailto:jakob.schrader@guest.arnes.si">
						jakob.schrader@guest.arnes.si</a>
				</p>
				{% endblock content %}
			</div> <!-- #content -->

			<div id="wisdom-cookie">
				<p>BoROT</p>
			</div> <!-- #wisdom-cookie -->

			<div id="credits">
				<p>Izdelava strani:</p>
				<ul>
					<li><a href="mailto:jakob.schrader@guest.arnes.si">Jakob Schrader</a> - vodja projekta, pregled;</li>
					<li><a href="mailto:dani.blazic@outlook.com">Daniel Blažič</a> - kontrole;</li>
					<li>Jernej Nose - rezultati.</li>
				</ul>
			</div> <!-- #credits -->

			<div id="links">
				<p>Eni (pogojno) uporabni linki.</p>
				<ul>
					<li>gitlab Volčjaka (<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link</a> pride ko bo stvar bolš zgledala),</li>
					<li><a href="https://www.vim.org/">The editor</a>,</li>
					<li><a href="https://en.wikipedia.org/wiki/Git">!w git</a>,</li>
					<li><a href="https://www.djangoproject.com/">django</a>,</li>
					<li><a href="jQuery">jQuery</a>,</li>
				</ul>
			</div> <!-- #links -->

		</div> <!-- #site-wrapper -->

	</body>
</html>
